/* *** REGOLE GENERALI ***  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

ul{
    list-style-type: none;
}

.text-bold{
    font-weight: 600;
}

.text-white{
    color: white
}

section:nth-of-type(2n+1){
    background-color: rgb(25,188,156);
}

section{
    padding: 3rem;
}

h1{
    font-size: 2.5rem;
}

h3{
    font-size: 2rem;
}

.fa-star{
    font-size: 2rem;
}

.bg-white{
    background-color: white;
}

.bg-black{
    background-color: black;
}

img{
    width: 100%;
    border-radius: .75rem;
}

.btn{
    border: 1px solid white;
}

/* *HEADER*  */

header{
    height: 80px;
    background-color: rgb(44,62,79);
    width: 100%;
    display: flex;
    align-items: center;
}

#hamburger{
    font-size: 1.75rem;
}

header ul{
    margin-bottom: 0;
}

/* PRIMA SECTION  */
.star-container div.line{
    height: 5px;
    border-radius: 1rem;
}

/* * TERZA SECTION *  */

section ul li:last-child{
    margin-top: 5rem;
}

/* FOOTER  */
footer section:first-child{
    background-color: rgb(59,83,109);
}

footer section:last-child{
    background-color: rgb(44,62,79);
}


