/* *** REGOLE GENERALI ***  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

.row *{
    outline: 1px solid red;
}

section:nth-of-type(2n+1){
    background-color: rgb(25,188,156);
}

section{
    padding: 3rem;
}
/* *HEADER*  */

header{
    height: 80px;
    background-color: rgb(44,62,79);
    width: 100%;
    display: flex;
    align-items: center;
}


/* * TERZA SECTION *  */

section ul li:last-child{
    margin-top: 5rem;
}

