/* *** REGOLE GENERALI ***  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

ul{
    list-style-type: none;
}

.text-bold{
    font-weight: 600;
}

.text-white{
    color: white
}

section:nth-of-type(2n+1){
    background-color: rgb(25,188,156);
}

section{
    padding: 3rem;
}

h1{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

a{
    text-decoration: none;
}

.fa-star{
    font-size: 2rem;
}

.bg-white{
    background-color: white;
}

.bg-black{
    background-color: black;
}

img{
    width: 100%;
    border-radius: .75rem;
}

.btn{
    border: 1px solid white;
}

/* *HEADER*  */

header{
    height: 80px;
    background-color: rgb(44,62,79);
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
}

header *{
    background-color: rgb(44,62,79);
}

header .right .middle{
    margin: 0 1rem;
}


/* PRIMA SECTION  */

#jumbo{
    padding-top: 80px;
}

.star-container div.line{
    height: 5px;
    border-radius: 1rem;
}

/* QUARTA SECTION  */
form *:not(:last-child){
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid lightgray;
}

input:focus,
textarea:focus {
    border: 1px solid rgb(25,188,156);
    outline: none; 
}

form *::placeholder{
    color: black;
}

form input{
    line-height: 3rem;
}

textarea{
    padding-top: .75rem;
}

#contact button{
    background-color:rgb(25,188,156);
    margin-top: .5rem;
}

/* FOOTER  */
footer section:first-child{
    background-color: rgb(59,83,109);
}

footer i{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 1px solid white;
    padding: .75rem;
    margin-top: .25rem;
}

footer i:not(:first-child){
    margin-left: .5rem;
}

footer section:last-child{
    background-color: rgb(44,62,79);
}

footer a{
    color:rgb(25,188,156);
}


